.buttons {
    display: flex;
    justify-content: space-around;
}
.edit {
    width: 80px;
    height: 30px;
    background-color: green;
    color: white;
}
.delete{
    width: 80px;
    height: 30px;
    background-color:green;
    color: white;
}
button:hover{
    cursor: pointer;
}