.bar {
    width: 500px;
    border-radius: 50px;
    height: 50px;
    padding: 3px;
    text-align: center;
}
.main_container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.add {
    display: block;
    width: 80px;
    height: 30px;
    background-color: green;
    color: white;
}
button:hover{
    cursor: pointer;
}
.button {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}